
.vertical-menu-home{
   background-image:url("../img/lb-background.jpg");
     position:fixed;background-attachment:local;background-size:100%;background-repeat:repeat-y;
     top: 0;
     left: 0;

     /* Preserve aspet ratio */
     min-width: 100%;
     min-height: 100%;
}

.work{

   width:100%;height:100%
}

.vertical-menu{
   float:left;
   width:145px;
   background-color:blue;
   padding:10px;
   margin:20px
}
.vertical-menu li{
   list-style:none;
   margin:5px
}




#container-paint {
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   width: 1000px;
}
#container-draw {
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   width: 1000px;
}
#container-print {
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   width: 1000px;
}
h1{font-size:100px;padding:40px;background-color:yellow;width:100%;height:200px}

.item {
   position: relative;
   width: 100%;
   line-height: 0;background-color:white;padding:10px
}

.item--image {
   width: 100%
}

.item--heading {
   position: absolute;
   top: 24px;
   margin-right: 48px;
   background-color: rgba(255, 255, 255, .9);
   padding: 12px 24px;
   line-height: 1.2;
}

.item--caption {
   position: absolute;
   bottom: 24px;
   left: 0;
   background-color: rgba(255, 255, 255, .9);
   padding: 12px;
   line-height: 1;
}
@media all and (min-width:1200px){ }
@media all and (min-width: 960px) and (max-width: 1199px) { }
@media all and (min-width: 768px) and (max-width: 959px) { }
@media all and (min-width: 480px) and (max-width: 767px){ }
@media all and (max-width: 479px) {  }
